@media (pointer:none),
(pointer:coarse) {
    .navigation {
        display: none;
    }

    nav {
        display: block;
    }

    .nav-mobile {
        display: block;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .column-skills {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}